* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
}
body {
  background-color: #fab22e;
}
.wrapper {
  width: 400px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.container {
  width: 100%;
  background-color: #000000;
  padding: 50px 40px;
  box-shadow: 0 20px 65px #000000;
  position: relative;
  border-radius: 8px;
  text-align: center;
}
.container p {
  color: #ffffff;
  line-height: 2;
  font-size: 18px;
}
.container h4 {
  color: #ffffff;
  margin: 20px 0 60px 0;
  font-weight: 600;
  text-transform: capitalize;
}
.container button {
  background-color: #fab22e;
  padding: 15px 45px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: #171721;
  cursor: pointer;
}
